.getBtn{
    margin-top: 35px;
    border: none;
    width: 165px;
    height: 30px;
    border-radius: 5px;
    background: #2E3192;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}