.s2h2{
  font-family: Montserrat;
  font-weight: 300;
  font-style: Regular;
  font-size: 13px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #666666;
}
@media (max-width:480px) {
    .s2h2{
        font-size: 11px;
    }
    
}