.navbar{
    margin: 20px 25px;
    display: flex;
    height: 50px;
    /* background-color: #F5F5F5; */
    align-items: center;
    justify-content: space-between;
    
}
.logo img{
    height: 25px;
}
.nav{
    padding-bottom: 12px;
    border-bottom: 0.5px solid grey ;
    gap: 35px;
    display: flex;
}
.navLinks{
    font-family: "Montserrat", sans-serif;
    display: flex;
    gap: 18px;
    align-items: center;
}
.navLinks a {
    text-decoration: none;
    color: grey;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}
.btn button {
    margin-bottom: 5px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    height: 25px;
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #2E3192;
}
@media (max-width: 480px) {
    .navbar{
        margin: 15px 25px;
    }
  .nav{
    margin-top: 45px;
    flex-wrap: wrap;
    gap: 23px;
  }
  .logo img{
    height: 28px;
  }
}