.navbar{
    margin: 25px;
    display: flex;
    height: 50px;
    background-color: steelblue;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 20px;
}
.nav{
    gap: 35px;
    display: flex;
}
.navLinks{
    display: flex;
    gap: 5px;
}
.navLinks a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}