.navbar{
    margin: 25px;
    display: flex;
    height: 50px;
    background-color: steelblue;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 20px;
}
.nav{
    display: flex;
}