.section3 {
  background-image: url('/src/assets/bg-img.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200vh;
}
.s3h1{
    padding: 0px 55px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: Bold;
    font-size: 30px;
    line-height: 125%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #2E3192;
}
.card-container{
    justify-content: space-around;
    margin: 0 55px;
    display: flex;
}
.heading11{
    margin-left: 70px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: Bold;
    font-size: 35px;
    line-height: 125%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #2E3192;
}
.para11{
    margin: 20px 70px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    letter-spacing: 0%;
    text-align: justify;
}
.link1{
    border-top: 1px solid grey ;
    /* background-color: aquamarine; */
    height: 65px;
    margin: 0px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.text11{
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.img11{
    height: 20px;
}
.hover-img{
    right: 200px;
    display: block;
    left: 700px; 
    height: 140px;
    /* position: relative; */
}
/* #link1:hover .hover-img{
    display: block;
}  */
@media (max-width:480px) {
    .s3h1{
        font-size: 17px;
    }
    .robot-img{
        height: 110px;
    }
    .card-container{
        flex-wrap: wrap;
        gap: 35px;
    }
    .section3{
        height: 250vh;
    }
    .heading11{
        font-size: 12px;
    }
    .para11{
        font-size: 12px;
        margin: 20px 70px 40px;
    }
    .text11{
        font-size: 10px;
    }
}
